<!DOCTYPE html>
<html lang=en>
  <head>
		<title>Reset password success</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500italic' rel='stylesheet' type='text/css'>
        <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      body {
          font-family: 'Roboto', sans-serif;
          color: #1D3557;
          background:#edf2f4;
          background-size: cover;
          height:100%; height:100vh;
          display: -webkit-flex; /* Safari */
          -webkit-align-items: center; /* Safari 7.0+ */
          display: flex;
          align-items: center;
        }

        .create-new-password-bg {
          display:block;
          margin-left:auto;
          margin-right:auto;
          padding: 36px 48px;
          border-radius:4px;
          background:#fff;
          box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
          
        }

        .create-new-password-bg h1 {
          font-size:28px;
          text-align:left;
          margin-bottom:30px;
        }
        .message {
          max-width: 240px;
        }
        svg {
          stroke: #1D3557;
          fill: #1D3557;
          width: 36px;
          height: 36px;
        }
    </style>
	</head>
  <body>
    <div class="create-new-password-bg">
        <svg xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        xmlns:serif="http://www.serif.com/" 
        viewBox="0 0 32 40" 
        version="1.1" 
        xml:space="preserve" 
        style="" x="0px" y="0px" 
        fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><g transform="matrix(1,0,0,1,-160,-32)"><g><path d="M176,33C167.721,33 161,39.721 161,48C161,56.279 167.721,63 176,63C184.279,63 191,56.279 191,48C191,39.721 184.279,33 176,33ZM176,35C183.175,35 189,40.825 189,48C189,55.175 183.175,61 176,61C168.825,61 163,55.175 163,48C163,40.825 168.825,35 176,35Z"/><g transform="matrix(1,0,0,1,1.19587e-05,9.9476e-14)"><path d="M169.294,48.719L173.294,52.708C173.685,53.098 174.317,53.097 174.707,52.707L182.707,44.707C183.097,44.317 183.097,43.683 182.707,43.293C182.317,42.903 181.683,42.903 181.293,43.293L173.999,50.587C173.999,50.587 170.706,47.303 170.706,47.303C170.315,46.913 169.682,46.914 169.292,47.305C168.902,47.696 168.903,48.329 169.294,48.719Z"/></g></g></g><text x="0" y="47" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Mada Creative</text><text x="0" y="52" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg>   
      <h1>Password updated</h1>
          <% if (message) { %>
            <div id="success-msg" class="message">
          <% } else { %>
            <div id="success-msg" class="message" style='display: none;'>
          <% } %>
              <%= message %>      
        </div>
    </div>
  </body>
</html>